# Ignore model weights and checkpoints
*.safetensors
*.bin
*.pt
outputs/
checkpoints/

# Ignore virtual environments
venv/
miniconda3/
__pycache__/

# ignore cache
*.jsonl
*.gguf
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
